.lightbox-container {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    gap: 8em;
}

.lightbox-images {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.lightbox-main-image {
    width: 25em;
    border-radius: 10px;
}

.lightbox-thumbnails {
    display: flex;
    gap: 1em;
    width: 25em;
}

.lightbox-thumbnails img {
    width: 5.5em;
    border-radius: 10px;
}

.lightbox-thumbnails img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.lightbox-txt {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 27%;
}

.lightbox-txt-title {
    color: hsl(26, 100%, 55%);
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 2px;
}

.lightbox-txt-fall {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

.lightbox-txt-desc {
    color: hsl(219, 9%, 45%);
    font-size: 0.9em;
    line-height: 1.8em;
}

.flexItems {
    display: flex;
    flex-direction: row;
    gap: 1em;
}